{% extends "base.html" %}
{% block content %}
    <div class="container-fluid pt-5">
        {# Page Header #}
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center mb-4">
                <h3 class="mb-0 text-gray-800">Welcome to your Goldmine Dashboard {{ user.firstname }}</h3>
            </div>
        </div>

        {# Option to select Month and Year#}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form method="GET" action="{{ url_for('goldmine') }}">
                            <label for="monthSelector">Select Month:</label>
                            <select name="month" id="monthSelector" class="form-control">
                                <option value="" disabled selected>Please Select</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                            <label for="yearSelector">Select Year</label>
                            <select name="year" id="yearSelector" class="form-control">

                                {% for year in  years_in_db %}
                                    <option value="{{ year[0] }}">{{ year[0] }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" id="updateChartButton" class="btn btn-primary mt-3">Update Chart
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# Cards #}
        <div class="row">
            {#Total Earnings fot the month card#}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> {{ selected_month or "" }}
                                    Earnings
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Budget: £ {{ total_budget_income or 0 }}
                                    <hr>
                                    Actual: £ {{ total_actual_income or 0 }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-hand-holding-dollar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#     Total Expenses for the month card #}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ selected_month or "" }}
                                    Expenses
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    Budget: £ {{ total_budget_expense or 0 }}
                                    <hr>
                                    Actual: £ {{ total_actual_expense or 0 }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-wheat fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#            Income Coverage card #}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ selected_month or "" }}
                                    Income Coverage
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Budget:</div>
                                    </div>
                                    <div class="col progress-container">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: {{ budget_income_coverage }}%">
                                                {{ budget_income_coverage }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Actual:</div>
                                    </div>
                                    <div class="col progress-container">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: {{ actual_income_coverage }}%">
                                                {{ actual_income_coverage }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill-transfer fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending
                                    Requests
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill-transfer fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8 col-lg-7">

                {#  Charts #}
                <!-- Bar Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary text-center">{{ selected_month or "" }} Income
                            Sources</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <h6 class="text-center">Budget</h6>
                            <canvas id="budgetBarChart"></canvas>
                            <hr>
                            <h6 class="text-center">Actual</h6>
                            <canvas id="actualBarChart"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Line Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary text-center">Actual Income and Expense over
                            Time</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-line">
                            <h6 class="text-center">Income</h6>
                            <canvas id="incomeLineChart"></canvas>
                            <hr>
                            <h6 class="text-center">Expenses</h6>
                            <canvas id="expenseLineChart"></canvas>
                        </div>
                        <hr>
                    </div>
                </div>

            </div>

            <!-- Donut Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary text-center">{{ selected_month or "" }} Expenses by
                            Category</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-doughnut">
                            <h6 class="text-center">Budget</h6>
                            <canvas id="budgetDoughnutChart"></canvas>
                            <hr>
                            <h6 class="text-center">Actual</h6>
                            <canvas id="actualDoughnutChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/goldmine.js') }}"></script>
    <script>
        {#    Bar Chart #}
        {#        Budget Bar Chart #}
        const budgetBarChart = document.getElementById('budgetBarChart');

        new Chart(budgetBarChart, {
            type: 'bar',
            data: {
                labels: [ {% for income in budget_income_sources_name %}
                    '{{ income }}',
                {% endfor %}
                ],

                datasets: [{
                    label: 'Budget Income',
                    data: [
                        {% for amount in budget_income_sources_amount %}
                            {{ amount }},
                        {% endfor %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        {#        Actual Bar Chart #}
        const actualBarChart = document.getElementById('actualBarChart');

        new Chart(actualBarChart, {
            type: 'bar',
            data: {
                labels: [ {% for income in actual_income_sources_name %}
                    '{{ income }}',
                {% endfor %}
                ],

                datasets: [{
                    label: 'Actual Income',
                    data: [
                        {% for amount in actual_income_sources_amount %}
                            {{ amount }},
                        {% endfor %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        {# Doughnut Chart #}
        {#      Budget Expenses by Category Doughnut Chart#}
        const budgetDoughnutChart = document.getElementById('budgetDoughnutChart').getContext('2d');
        const budgetDoughnut = new Chart(budgetDoughnutChart, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for category in budget_category_name_list %}
                        '{{ category }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Amount',
                    data: [
                        {% for amount in budget_amount_list%}
                            {{ amount }},
                        {% endfor %}
                    ],

                }]
            }
        })
        {#      Actual Expenses by Category Doughnut Chart#}
        const actualDoughnutChart = document.getElementById('actualDoughnutChart').getContext('2d');
        const actualDoughnut = new Chart(actualDoughnutChart, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for category in actual_category_name_list %}
                        '{{ category }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Amount',
                    data: [
                        {% for amount in actual_amount_list%}
                            {{ amount }},
                        {% endfor %}
                    ],

                }]
            }
        })
        {# Line Chart#}
        const incomeLineChart = document.getElementById('incomeLineChart').getContext('2d');
        new Chart(incomeLineChart, {
            type: 'line',
            data: {
                labels: [{% for row in income_over_time %} "{{ row.income_month }}", {% endfor %}],
                datasets: [
                    {
                        label: "Total Monthly Income for {{ selected_year }}",
                        data: [{% for row in income_over_time %} {{ row.total_income }}, {% endfor %}],
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>

    </body>
    </html>
{% endblock %}