{% extends "base.html" %}
{% block content %}
    <div class="hero">
        <div class="hero-content">
            <h1>Nelkon Finance</h1>
            <p>Take Control of Your Monthly Finances with Ease</p>
            <a href="{{ url_for('login') }}" class="cta-button btn btn-outline-light ">Get Started</a>
        </div>
        <img src="hero-image.jpg" alt="App in Action">
    </div>
    <div id="features" class="features">
        <div class="d-none d-md-block">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/budget-image.jpg') }}" class="d-block w-100"
                             alt="carousel_image 1">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Budget Management</h5>
                            <p>Create and manage budget income and expenses to achieve your financial goals</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/tracking-image.jpg') }}"
                             class="d-block w-100"
                             alt="carousel_image 2" height="800">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Actual Finances Tracking</h5>
                            <p>Effortlessly track your actual income and expenses, to gain insights into your
                                spending
                                habits.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/analysis-image.jpg') }}"
                             class="d-block w-100"
                             alt="carousel_image 3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Income and Expense Analysis</h5>
                            <p>Analyze your income sources and expense areas to plan for a secure financial future
                                by
                                viewing interactive charts</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="d-md-none">
            <!-- Cards for small screens -->
            <div class="card pt-2">
                <img src="{{ url_for('static', filename='images/budget-image.jpg') }}" class="card-img-top"
                     alt="card-image-1">
                <div class="card-body">
                    <h5 class="card-title text-center">Budget Management</h5>
                    <p class="card-text text-center">Create and manage budget income and expenses to achieve your
                        financial goals</p>
                </div>
            </div>
            <div class="card pt-2">
                <img src="{{ url_for('static', filename='images/tracking-image.jpg') }}" class="card-img-top"
                     alt="card-image-2">
                <div class="card-body">
                    <h5 class="card-title text-center">Actual Finances Tracking</h5>
                    <p class="card-text text-center">Effortlessly track your actual income and expenses, to gain
                        insights into your spending
                        habits.</p>
                </div>
            </div>
            <div class="card pt-2">
                <img src="{{ url_for('static', filename='images/analysis-image.jpg') }}" class="card-img-top"
                     alt="card-image-3">
                <div class="card-body">
                    <h5 class="card-title text-center">Income and Expense Analysis</h5>
                    <p class="card-text text-center">Analyze your income sources and expense areas to plan for a
                        secure
                        financial future by viewing
                        interactive charts</p>
                </div>
            </div>
        </div>
    </div>

    <section id="how-it-works" class="how-it-works">
        <h2 class="text-center">How it Works</h2>
        <div class="step">
            <img src="{{ url_for('static', filename='images/signup-icon.png') }}" alt="Step 1 Icon">
            <h3>Sign Up</h3>
            <p>Join Nelkon Finance to start managing your finances.</p>
        </div>
        <div class="step">
            <img src="{{ url_for('static', filename='images/plan-icon.png') }}" alt="Step 2 Icon">
            <h3>Plan Fortune</h3>
            <p>Set budget goals for income and expenses and stay on top of your financial plans.</p>
        </div>
        <div class="step">
            <img src="{{ url_for('static', filename='images/track-icon.png') }}" alt="Step 3 Icon">
            <h3>Track Treasure</h3>
            <p>Record your actual income and expenses easily and categorize them.</p>
        </div>
        <div class="step">
            <img src="{{ url_for('static', filename='images/dashboard-icon.png') }}" alt="Step 4 Icon">
            <h3>See Goldmine</h3>
            <p>View an interactive dashboard based on your budget and actual financial information to gain
                insights</p>
        </div>
    </section>
{% endblock %}
