{% extends "base.html" %}
{% block content %}

    <div class="container-fluid pt-5">
        <h2>Login</h2>
        <div class="card">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                            {% set alert_class = 'alert-success' if 'success' in message else 'alert-danger' %}
                            <div class="alert {{ alert_class }}" role="alert">
                                {{ message | replace('success:', '') | replace('error:', '') }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="identifier" name="identifier"
                           placeholder="Please enter username/email">
                    <label for="identifier">Username/Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Please enter password">
                    <label for="password">Password</label>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">
                        Login
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#signup">
                        Sign Up
                        <i class="fa-solid fa-user-plus end"></i>
                    </button>
                </div>
            </form>
        </div>
        <!--    Modal Signups-->
        <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signup"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="signup_header">Sign Up</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--Form-->
                        <div class="card">
                            <form action="{{ url_for('signup') }}" method="POST">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Please enter username" required>
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                           placeholder="Please Enter First Name" required>
                                    <label for="firstname">First Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                           placeholder="Please enter Last Name" required>
                                    <label for="lastname">Last Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Please enter a password" minlength="6" maxlength="30" required >
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Please enter your email" required>
                                    <label for="email">Email</label>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">
                                        Sign Up
                                        <i class="fa-solid fa-user-plus end"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}