{% extends "base.html" %}
{% block content %}

    <div class="container-fluid pt-5">
        <h2>Login</h2>
        <div class="card">
            <div class="alert alert-danger">
                {{ get_flashed_messages(category_filter=['error']) | join }}
            </div>
            <div class="alert alert-success">
                {{ get_flashed_messages(category_filter=['success']) | join }}
            </div>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Please enter username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Please enter password">
                    <label for="password">Password</label>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">
                        Login
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#signup">
                        Sign Up
                        <i class="fa-solid fa-user-plus end"></i>
                    </button>
                </div>
            </form>
        </div>

        <!--    Modal Signups-->
        <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signup"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="signup_header">Sign Up</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <!--Form-->
                        <div class="card">

                            {#                        Flash Message #}
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message[0] }}. Go to <a href="{{ url_for('login') }}" class="alert-link">Login</a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form action="{{ url_for('signup') }}" method="POST">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Please enter username">
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                           placeholder="Please Enter First Name">
                                    <label for="firstname">First Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                           placeholder="Please enter Last Name">
                                    <label for="lastname">Last Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" name="password"
                                           placeholder="Please enter a password">
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Please enter your email">
                                    <label for="email">mail</label>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary" type="submit">
                                        Sign Up
                                        <i class="fa-solid fa-user-plus end"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}