{% extends "base.html" %}
{% block content %}

    <!--Jumbo-tron-->
    <div class="row">
        <div class="mt-4 p-5 rounded bg-success text-center">
            <h1 class="text-light">Welcome to your Budget App {{ current_user.firstname }}</h1>
        </div>
    </div>

    <!--Div to display figures -->
    <div class="row my-5">

        <!--Budget Income-->
        <div class="col-md-6 mb-4">
            <div class="card text-center">
                <div class="card-header">
                    Budget Income
                </div>
                <div class="card-body">
                    <h5 class="card-title">Budget Monthly Income</h5>
                    <p class="card-text">Share insights and information about your income budget for the month.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#budgetIncomeModal">
                        Add Budget Income
                    </button>
                </div>
                <div class="card-footer text-muted">
                    Posted 2 days ago
                </div>
            </div>
        </div>
        <!--    Modal for Budget Income form-->
        <div class="modal fade" id="budgetIncomeModal" tabindex="-1" aria-labelledby="budgetIncomeModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="budgetIncomeModalLabel">Add Budget Income</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--                    budget form-->
                        <form action="{{ url_for('add_budget_income') }}" method="POST">

                            <!--                        Select Month -->
                            <div class="form-floating mb-3">
                                <label for="budget_income_month"></label>
                                <select name="month_name" id="budget_income_month" class="form-control">
                                    <option value="" disabled selected>Select Month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                            <!--                        Income Name-->
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="income_name" id="budget_income_name"
                                       placeholder="Income Name">
                                <label for="budget_income_name">Income Name</label>
                            </div>
                            <!--                        Amount-->
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="budget_income_amount"
                                       placeholder="Month" name="budget_amount">
                                <label for="budget_income_amount">Amount</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">
                                    Add Income
                                    <i class="fas fa-plus-square end"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--    Budget Expense Card-->
        <div class="col-md-6 mb-4">
            <div class="card text-center">
                <div class="card-header">
                    Budget Expense
                </div>
                <div class="card-body">
                    <h5 class="card-title">Budget Monthly Expense</h5>
                    <p class="card-text">Share insights and information about your budget Expenses for the month.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#budgetExpenseModal">
                        Add Budget Expenses
                    </button>
                </div>
                <div class="card-footer text-muted">
                    Posted 2 days ago
                </div>
            </div>
        </div>
        <!--    Modal for Budget Expense form-->
        <div class="modal fade" id="budgetExpenseModal" tabindex="-1" aria-labelledby="budgetExpenseModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="budgetExpenseModalLabel">Add Budget Expense</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--                    budget form-->
                        <form method="POST" action="{{ url_for('add_budget_expense') }}">

                            <!--                        Select Month -->
                            <div class="form-floating mb-3">
                                <label for="month_name"></label>
                                <select name="month_name" id="month_name" class="form-control">
                                    <option value="" disabled selected>Select Month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                            <!--                        Select Category-->
                            <div class="form-floating mb-3">
                                <label for="category_name"></label>
                                <select name="category_name" id="category_name" class="form-control">
                                    <option value="" disabled selected>Select Spending Category</option>
                                    <option value="shopping">Shopping</option>
                                    <option value="groceries">Groceries</option>
                                    <option value="eating-out">Eating Out</option>
                                    <option value="transport">Transport</option>
                                    <option value="bills">Bills</option>
                                    <option value="entertainment">Entertainment</option>
                                    <option value="miscellaneous">Miscellaneous</option>
                                </select>
                            </div>
                            <!--                        Amount-->
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="budget_amount"
                                       placeholder="Month" name="budget_amount">
                                <label for="budget_amount">Amount</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">
                                    Add Expense
                                    <i class="fas fa-plus-square end"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}