{% extends "base.html" %}
{% block content %}

    <div class="container-fluid pt-5">
        <h2>Edit Profile</h2>
        <div class="card">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert-container">
                        {% for message in messages %}
                            {% set alert_class = 'alert-success' if 'success' in message else 'alert-danger' %}
                            <div class="alert {{ alert_class }}" role="alert">
                                {{ message | replace('success:', '') | replace('error:', '') }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="card">

                <form action="{{ url_for('profile') }}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Please enter username" value="{{ user.username }}" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstname" name="firstname"
                               placeholder="Please Enter First Name" value="{{ user.firstname }}" required>
                        <label for="firstname">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastname" name="lastname"
                               placeholder="Please enter Last Name" value="{{ user.lastname }}" required>
                        <label for="lastname">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Please enter a password">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Please enter your email" value="{{ user.email }}" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">
                            Edit Profile
                            <i class="fa-solid fa-edit end"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}