{% extends "base.html" %}
{% block content %}

<div class="container-fluid pt-5">
    <h2>User Sign-Up</h2>
    <div class="card">
        <form action="{{url_for('signup')}}" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Please enter username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstname" name="firstname"
                       placeholder="Please Enter First Name">
                <label for="firstname">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastname" name="lastname"
                       placeholder="Please enter Last Name">
                <label for="lastname">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Please enter a password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Please enter your email">
                <label for="email">email</label>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">
                    Sign Up
                    <i class="fa-solid fa-user-plus end"></i>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}